{
  "extends": ["vtex-react/gatsby", "next/core-web-vitals"],
  "root": true,
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "jsx-a11y/anchor-is-valid": ["off"] // This is taken care by next.js eslint
  }
}
